[submodule "cellpose"]
  path = ./cellpose
  url = https://github.com/MouseLand/cellpose.git
[submodule "CellProfiler"]
  path = ./CellProfiler
  url = https://github.com/CellProfiler/CellProfiler.git
[submodule "segment-anything"]
  path = ./segment-anything
  url = https://github.com/facebookresearch/sam2.git